<configurations>
    <configuration name='debug'>
        <define symbol='DEBUG'/>
    </configuration>
	<configuration name='memdbg' base='debug'>
		<define symbol='DEBUG_MEMORY'/>
		<define symbol='NOWARN'/>
	</configuration>
    <configuration name='trace' base='debug'>
        <define symbol='TRACE'/>
    </configuration>
	<configuration name='gendoc' base='debug'>
		<define symbol='GENDOC'/>
		<define symbol='NOWARN'/>
	</configuration>
    <configuration name='release'>
        <define symbol='RELEASE'/>
    </configuration>
</configurations>
