<configurations>
    <configuration name='debug'>
        <define symbol='DEBUG'/>
    </configuration>
	<configuration name='dbg' base='debug'>
		<define symbol='NOWARN'/>
		<define symbol='DEBUG_SYMBOL_IO'/>
	</configuration>
    <configuration name='release'>
        <define symbol='RELEASE'/>
    </configuration>
    <configuration name='rel' base='release'>
        <define symbol='NOWARN'/>
    </configuration>
    <configuration name='trace' base='debug'>
        <define symbol='TRACE'/>
    </configuration>
</configurations>
